amqp (1.4.9)
anyjson (0.3.3)
backports-abc (0.4)
backports.shutil-get-terminal-size (1.0.0)
backports.ssl-match-hostname (3.5.0.1)
billiard (3.3.0.23)
celery (3.1.23)
certifi (2016.2.28)
decorator (4.0.10)
enum34 (1.1.6)
funcsigs (1.0.2)
gevent (1.1.1)
greenlet (0.4.9)
influxdb (2.12.0)
ipaddress (1.0.16)
ipython (4.2.0)
ipython-genutils (0.1.0)
kombu (3.0.35)
netifaces (0.10.4)
nose (1.3.7)
numpy (1.11.0)
pandas (0.18.1)
path.py (8.2.1)
pathlib2 (2.1.0)
pbr (1.10.0)
pexpect (4.1.0)
pickleshare (0.7.2)
pip (8.1.2)
psutil (4.2.0)
psycopg2 (2.6.1)
ptyprocess (0.5.1)
pyasn1 (0.1.9)
pycparser (2.14)
pyparsing (2.1.4)
python-dateutil (2.5.3)
pytz (2016.4)
redis (2.10.5)
requests (2.10.0)
setuptools (23.0.0)
simplegeneric (0.8.1)
simplejson (3.8.2)
singledispatch (3.4.0.3)
six (1.10.0)
tornado (4.3)
traitlets (4.2.1)
urllib3
wheel (0.29.0)
xmlrpclib-to (0.1.1)
